<div class="card">
    <div class="card-body">
        <p class="lead"><i>Trabajo de inweniería web</p>
        <p class="lead"><i>Bryan Cárdenas Amariles</p>
        <p class="lead"><i>Basado en el tutorial https://www.youtube.com/watch?v=-bI0diefasA&t=997s</p>
    </div>
</div>