<div class="jumbotron mt-4">
    <h1 class="display-4"><b>App CRUD Bryan</b></h1>
    <BR>
    <p class="lead">Administrar notas</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/notes"" role="button">Administrar</a>

</div>